# Core framework
fastapi
uvicorn

# Database
SQLAlchemy
asyncmy
sqlalchemy

# For generating models from DB (optional dev tool)
sqlacodegen

# Environment variables
python-dotenv
python-multipart

# For data validation and schema management
pydantic

# for phone number validation
pycountry
phonenumbers

