name: Deploy FastAPI to EC2

on:
  push:
    branches:
      - main   # or whichever branch you want

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.EC2_SSH_KEY }}

      - name: Deploy to EC2
        run: |
          ssh -o StrictHostKeyChecking=no ubuntu@${{ secrets.EC2_HOST }} << 'EOF'
          cd ~/Employee-Onboarding-System
          git pull origin main
          source venv/bin/activate
          cd Backend
          pip install -r requirements.txt
          sudo systemctl restart employeeonboarding.service
          EOF